#profilePage{
    background: rgba(255, 255, 255, 0.7);
    max-width: 1000px;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.userInfo{
    text-align: left;
    font-weight: bolder;
}
.userPiece_body{
    font-weight: normal;
}
.userPiece_head{
    font-weight: bold;
}