#profilePage{
    background: rgba(255, 255, 255, 0.7);
    max-width: 1007px;
    margin: auto;
    text-align: center;
}
.activeBookings{
    margin: auto;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 490px;
}